.main span{
    margin: 5px;
    padding: 5px;
}
.main input{
    margin: 5px;
    padding: 5px;
}
#tip{
    font-size: 10px;
    position: relative;
    left:47px;
}
.inputBox{
    margin: 10px;
    padding: 30px;
}
.inputBox{
    border:1px solid;
    border-radius:5px 5px;
}