<<<<<<< HEAD
td{
    width:30px;
    height:30px;
    background-color: #02e77d;
    text-align: center;
=======
td{
    width:30px;
    height:30px;
    background-color: #02e77d;
    text-align: center;
>>>>>>> a341bbc0bd3cb7dcd9283ed4eb56053828171d86
}