fieldset{
    margin:7px;
    width:400px;
    padding:7px;
}
input{
    margin: 7px;
}
#selectTypeBox{
    float: left;
    border:1px solid #456;
    border-radius: 10px;
}
#formDom{
    float: left;
    padding: 5px;
    margin-left: 15px;
    width:400px;
    position: relative;
}
#formDom label{
    margin:5px;
}

.success{
    color:green;
}
.fail{
    color:red;
}
.border_success{
    border:1px green solid;
}
.border_fail{
    border:1px red solid;
}